@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

:root {
    --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
    --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
    --Grayish-Blue: hsl(212, 23%, 69%);
    --Light-Grayish-Blue: hsl(210, 46%, 95%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope";
}

.main-image {
    background-image: url('images/drawers.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 330px;
    background-position: 0% 20%;
    max-height: 200px;
    overflow: hidden;
    width: 85vw;
    height: 80vh;
    margin: auto;
    margin-top: 100px;
    border-radius: 5% 5% 0% 0%;
}


.heading {
    color: hsl(217, 19%, 35%);
    padding: 40px 25px 5px 25px;
    box-sizing: border-box;
    max-width: 305px;
    font-weight: 700;
    margin: auto;
    font-size: 1rem;
}

.paragraph{
    color: hsl(214, 17%, 51%);
    box-sizing: border-box;
    max-width: 305px;
    padding: 5px 25px;
    font-weight: 500;
    font-size: .81rem;
    margin: auto;
    margin-bottom: 40px;
    line-height: 1.5rem;
}

.below-area {
    position: relative;
}

.social-nonactive, .active-state {
    position: absolute;
    height: 60px;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    
}
.social-nonactive {
    display: flex;
    align-items: center;
    max-height: 100px;
    max-width: 330px;
    margin: auto;
    font-size: 1.2rem;
    color: hsl(217, 19%, 35%);
    padding: .2px;
}

.social-image img {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    margin-right: 15px;
    margin-left: 20px;
}

.social-data {
    margin-right: 20px;
}

.social-name {
    font-size: .8rem;
    font-weight: 700;
    margin-right: 70px;
}

.social-date {
    font-size:.65rem;
    font-weight: 500;
    color:hsl(212, 23%, 69%);
}

.active-state {
    display: flex;
    align-items: center;
    max-height: 100px;
    max-width: 330px;
    margin: auto;
    font-size: .8rem;
    justify-content: space-around;
    background-color: var(--Very-Dark-Grayish-Blue);
    color: var(--Grayish-Blue);
    text-transform: uppercase;
    border-radius: 0 0 10px 10px;
    z-index: 2;
    opacity: 0;
}

.active-state.visible {
    opacity: 1;
    transition: opacity 1000ms ease-out;
}

.icons-alone {
    display: flex;
    align-items: center;
    margin-right: 70px;
}

.fa-facebook {
    padding: 0 .3rem;
}

.fa-twitter {
    padding: 0 .8rem;
}

.social-icons {
   color:hsl(210, 46%, 95%);
   flex-direction: row;
    }

.share {
    letter-spacing: .5em;
    padding: 20px 5px 20px 25px;
}


.btn {
    border-radius: 100%;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 4px;
    z-index: 4;
}

/* .active-state .btn {
    visibility: hidden; 
 }  */

.btn::hover {
    background-color: var(--Grayish-Blue);
  }

footer {
    position: static;
    margin: auto;
    margin-top: 80px;
    padding-top: 80px;
    font-size: 13px;
    text-align: center;
    padding: 20px;
    color: black;
}

@media (min-width:720px) {

    .wrapper {
        display: flex;
    }

    .main-image {
        max-width: 380px;
        max-height: 300px;
        border-radius: 5% 0% 0% 5%;
    }

    .text {
        padding-top: 100px;
        padding-right: 160px;
    }

    .heading {
        font-size: 1.2rem;
        max-width: 400px;
    }

    .paragraph {
        max-width: 400px;
    }

    .below-area {
        right: 56%;
        top: 140px;
    }

    .social-data {
        margin-right: 65px;
    }

    .social-name { 
        font-size: .8rem;
        font-weight: 700;
        width: 140px;
        overflow: hidden;
        white-space: nowrap;
    }

    .active-state{
        height: 60px;
        width: 250px;
        border-radius: 10px;
        /* padding-left: 70px; */
        padding-right: 125px;
        bottom: 37%; 
        left: 257px;
    }


    .arrow-down {
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-top: 12px solid var(--Very-Dark-Grayish-Blue);
       margin-bottom: -70px;
       margin-left: -170px;
    }

}

