* {
    margin: 0;
    padding: 0;
}

.entire {

}

.main-image {
    background-image: url('images/drawers.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid purple;
    width: 40vw;
    height: 90vh;
    margin: auto;
}

.text {

}

.heading {

}

.paragaph{

}

.social {

}

.social-image {

}

.social-name {

}

.social-date {

}

@media (min-width:700px) {

}